/*
    Plugin Name: Dropbox Sideloader
    Description: Plugin to enable sideloading media from Dropbox. 
    Version: 0.8
    Author: Justin R. Serrano
*/

.dropbox_sideload_wrap {
	padding: 10px;
}

#dropbox-sideload-steps tr{
	border-left: 4px solid #f0f0f0;
}
#dropbox-sideload-steps tr th,
#dropbox-sideload-steps tr td{
	padding-left: 5px;
}

.error #status {
	border-left: 4px solid red;
}

.step1 #table-step2a,
.step1 #table-step2b,
.step1 #table-step3,
.step2 #table-step3 {
	display:none;
}

#dropbox-api,
#dropbox-file,
#dropbox-delete-api
#dropbox-sideload-steps td  
#dropbox-sideload-steps th {
	line-height: 1.5em;
}

